{% import "chat-icon.njk" as chatIcon %}
<p class="cta-wrapper"><a href="mailto:{{ site.author.email }}" class="cta-button">{{ chatIcon.icon() }} {{ site.author.cta_text }}</a> • <a href="https://twitter.com/{{ site.author.twitter | replace('@', '') }}">X</a> • <a href="https://github.com/{{ site.author.github | replace('@', '') }}">GitHub</a></p>