<div class="cta-wrapper">
  <a href="mailto:{{ site.author.email }}" title="Email">Email</a>
  <a href="https://twitter.com/{{ site.author.twitter | replace('@', '') }}" title="X">X</a>
  <a href="https://github.com/{{ site.author.github | replace('@', '') }}" title="GitHub">GitHub</a>
  <a href="https://scholar.google.com/citations?user=JibwQiQAAAAJ&hl=en&authuser=1" title="Google Scholar">Scholar</a>
  <a href="https://orcid.org/0000-0003-1651-6602" title="ORCID">ORCID</a>
  <a href="https://www.researchgate.net/profile/Gaurav-Singh-84" title="ResearchGate">ResearchGate</a>
</div>
