<h1>
    <a href="/">{{ site.author.name }}</a> <span>(@gvsh_maths/ @gv-sh)</span>
    <span class="affiliation">Independent Researcher, <a href="https://mathscapes.xyz">Mathscapes</a> · Gold Coast, Australia</span>
</h1>
