<h1>
    <a href="/">{{ site.author.name }}</a>
    <span class="affiliation">Independent Researcher, <a href="https://mathscapes.xyz">Mathscapes</a></span>
</h1>

{% if site.interests %}
<div class="interests">
    {% for interest in site.interests %}
    <span>{{ interest }}</span>
    {% endfor %}
</div>
{% endif %}
