<div class="publication">
  <div class="pub-info"><span class="pub-title">{{ pub.title }}</span>. {{ pub.authors }}. {{ pub.venue }}, {{ pub.year }}. <a class="pub-doi" href="https://doi.org/{{ pub.doi }}">doi:{{ pub.doi }}</a></div>
</div>
