@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

:root {
    --primary-bg-color: #fff;
    --primary-text-color: #000;
    --secondary-bg-color: #fff;
    --primary-bg-color-transparent: rgba(255, 255, 255, 1);
    --semi-transparent-border: #ccc;
    --hover-border: #0033CC;
    --highlight-color: #0033CC;

    --font-family-serif: 'Times New Roman', Times, serif;
    --font-family-sans-serif: Helvetica, Arial, sans-serif;
    --font-family-mono: 'Fragment Mono', monospace;
    --font-size-default: 21px;
    --font-size-small: 14px;
    --font-size-large: 32px;
    --font-size-medium: 1.4em;
    --font-size-xsmall: 0.7em;
    --font-size-extra-small: 0.8em;
    --font-size-xxsmall: 1em;
    --font-size-larger: 1.1em;
    --font-size-h4: 1.2em;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --margin-default: 0;
    --margin-large: 4em;
    --margin-medium: 0.8em;
    --margin-small: 0.5em;
    --margin-xsmall: 0.25em;
    --margin-item: 3em;

    --line-height-default: 1.3;
    --line-height-tight: 1;
    --line-height-loose: 1.25;

    --width-aside: 160px;
    --max-width-body: 800px;

    --gap-size: 2px;
    --height-spacer: 1em;

    --border-default: 0px dotted #ccc;
    --border-strong: 1px dotted #ccc;
    --border-medium: 1px dotted #ccc;
    --border-width: 1px dotted;

    --transition-speed: 0.3s;
    --transition-function: ease;

    --dimension-full: 100%;
    --dimension-auto: auto;

    --padding-body: 1em;
    --padding-body-small: 0.5em;

    --color-midgrey: #000;

    --fade-in-duration: 0.25s;
}

* {
    box-sizing: border-box;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-default);
    margin: var(--margin-default);
    color: var(--primary-text-color);
    opacity: 0;
    animation: fadeIn var(--fade-in-duration) ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg-color: #000;
        --primary-text-color: #fff;
        --secondary-bg-color: #000;
        --semi-transparent-border: #444;
        --hover-border: rgba(255, 255, 255, 0.5);
        --highlight-color: #ffffff;
        --border-default: 1px dotted #777;
        --border-strong: 1px dotted #777;
        --border-medium: 1px dotted #777;
        --color-midgrey: #fff;
        --primary-bg-color-transparent: rgba(0, 0, 0, 1);
    }
}

body {
    font-family: var(--font-family-serif);
    margin: var(--margin-default) auto;
    padding: var(--padding-body);
    max-width: var(--max-width-body);
    background-color: var(--primary-bg-color);
}

header {
    margin-top: var(--margin-large);
    border-bottom: var(--border-strong);
}

.parent {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

aside {
    width: var(--width-aside);
    border-right: var(--border-strong);
    padding-bottom: 200px;
    padding-top: var(--margin-small);
}

aside ul {
    list-style-type: none;
    padding: var(--margin-default);
    margin-bottom: 0 !important;
}

aside ul li a, aside ul li.sidebar-section {
    padding-right: 8px;
}

aside ul li.separator {
    border-bottom: var(--border-medium);
    margin-top: var(--margin-small);
}

aside ul li a {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--font-family-serif);
    display: block;
}

aside ul li a:hover {
    border: none;
}

aside ul li a.active {
    font-weight: var(--font-weight-normal);
    color: var(--highlight-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul, ol {
    margin-bottom: var(--margin-medium);
}

ol li {
    margin-bottom: var(--margin-default);
}

main {
    flex-basis: 80%;
    padding-top: 1.8em;
    padding-left: 1.8em;
    flex-grow: 1;
    padding-bottom: 200px;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
    border-bottom: var(--border-default);
    transition: color var(--transition-speed) var(--transition-function), border-bottom-color var(--transition-speed) var(--transition-function);
}

a:hover {
    border-bottom: var(--border-width) var(--hover-border);
}

p {
    margin-bottom: var(--margin-medium);
}

b {
    font-weight: var(--font-weight-bold);
}

h1, h1 a {
    font-size: var(--font-size-large);
    margin-bottom: var(--margin-small);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    font-family: var(--font-family-sans-serif);
    color: var(--primary-text-color);
}

h1 a:hover {
    border-bottom: var(--border-width) var(--primary-text-color);
}

hr {
    border: var(--margin-default);
    height: 1px;
    background: var(--semi-transparent-border);
    margin-bottom: var(--margin-medium);
}

.spacer {
    height: var(--height-spacer);
}

.title {
    padding-bottom: 5px;
}

h2 {
    font-size: 2em;
    margin-bottom: var(--margin-large);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-normal);
}

h3 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--margin-small);
    line-height: var(--line-height-loose);
    font-weight: var(--font-weight-normal);
}

.item h3 {
    margin-top: var(--margin-default);
    margin-bottom: var(--margin-xsmall);
}

.item p.meta {
    margin: var(--margin-default);
}

.item {
    margin-bottom: var(--margin-item);
}

h4 {
    font-size: var(--font-size-h4);
    margin-bottom: var(--margin-small);
    font-weight: var(--font-weight-normal);
}

h5 {
    font-size: var(--font-size-xxsmall);
    margin-bottom: var(--margin-small);
    font-weight: var(--font-weight-normal);
}

h6 {
    text-transform: uppercase;
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--margin-small);
    font-family: var(--font-family-sans-serif);
}

nav ol {
    list-style-type: none;
    padding: var(--margin-default);
    margin-bottom: 8px !important;
}

nav ol li {
    display: inline-block;
    margin-right: 8px;
}

img {
    max-width: var(--dimension-full);
    height: var(--dimension-auto);
}

em {
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-bottom: var(--margin-medium);
    margin-top: var(--margin-small);
    font-style: normal;
    font-family: var(--font-family-sans-serif);
    line-height: var(--line-height-tight);
    display: inline-block;
}

table {
    width: var(--dimension-full);
    border-collapse: collapse;
    margin-bottom: var(--margin-medium);
    border-top: var(--border-strong);
    border-bottom: var(--border-strong);
}

table th {
    font-weight: var(--font-weight-normal);
    padding: 0.5em 0.5em;
    text-align: left;
    font-size: var(--font-size-small);
    text-transform: uppercase;
    font-family: var(--font-family-sans-serif);
}

table td {
    padding: 0.5em 0.5em;
    font-size: var(--font-size-small);
    border-top: var(--border-width) var(--primary-text-color);
}

p.small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-default);
}

.container {
    float: none;
    clear: both;
    width: var(--dimension-full);
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    margin-bottom: 40px;
    height: var(--margin-default);
}

.responsive-iframe {
    position: absolute;
    width: var(--dimension-full);
    height: var(--dimension-full);
}

[aria-current] {
    border-bottom: none;
    font-weight: var(--font-weight-normal);
    color: var(--primary-text-color);
}

pre {
    overflow: auto;
    margin-bottom: var(--margin-medium);
    overflow: hidden;
    scrollbar-width: none;
    counter-reset: line;
}

pre code {
    display: block;
    line-height: 1.5;
    padding-left: 2.6em;
    position: relative;
}

.line-number {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.5em;
    text-align: right;
    color: var(--primary-text-color);
    user-select: none;
    font-size: var(--font-size-small);
    line-height: inherit;
    vertical-align: baseline;
    padding-right: 0.5em;
}

pre::-webkit-scrollbar {
    display: none;
}

code {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
}

.katex {
    font-size: var(--font-size-larger);
}

li.sidebar-section {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-sans-serif);
    margin-bottom: 5px;
    color: var(--primary-text-color);
    margin-top: 0.25em;
}

li.sidebar-section:not(:first-child) {
    margin-top: 1em;
}

aside ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    border-bottom: none;
    text-transform: none;
    letter-spacing: 0;
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-normal);
}

@media (max-width: 800px) {

    .parent {
        flex-direction: column;
    }

    aside,
    main {
        width: var(--dimension-full);
        margin: var(--margin-default);
        float: none;
        display: block;
        border-right: none;
        margin-bottom: 200px;
    }

    main {
        margin-top: 0em;
        margin: 0;
        padding: 0;
    }

    header {
        margin-top: var(--margin-small);
        margin-bottom: var(--margin-small);
    }

    aside {
        border-bottom: var(--border-strong);
        margin-bottom: 64px;
        padding-bottom: var(--padding-body);
    }

    aside.right {
        border-left: var(--border-strong);
        margin-bottom: 64px;
        padding-bottom: var(--padding-body);
        width: var(--width-aside);
    }

    aside ul {
        columns: 2;
        width: var(--dimension-full);
        break-inside: avoid;
        break-after: avoid;
    }

    footer {
        width: 100%;
        margin: 0;
        padding: var(--padding-body);
    }

    footer .left, footer .right {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    footer .right {
        width: 100%;
    }

}

.grid-2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}

.grid-2 img {
    width: var(--dimension-full);
    height: var(--dimension-auto);
    display: block;
}

.grid-3 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}

.grid-3 img {
    width: var(--dimension-full);
    height: var(--dimension-auto);
    display: block;
}

.store {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}

.store img {
    width: var(--dimension-full);
    height: var(--dimension-auto);
    display: block;
}

sup {
    font-size: var(--font-size-xsmall);
    vertical-align: super;
    line-height: 0;
}

.border {
    border: var(--border-strong);
}

#trackInfo {
    opacity: 0.5;
}
#progressBar {
    width: var(--dimension-full);
    height: 2px;
    background-color: var(--color-midgrey);
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#progress {
    width: 0%;
    height: 100%;
    background-color: var(--highlight-color);
    transition: width 0.5s ease;
}

#musicControls {
    opacity: 0.5;
}

#timeline-container {
  margin: var(--margin-small) 0;
  width: var(--dimension-full);
  position: relative;
}

#timeline-container svg {
  display: block;
  width: var(--dimension-full);
  height: auto;
}

.event-text {
  fill: var(--primary-text-color);
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: var(--secondary-bg-color);
  border: 1px solid var(--semi-transparent-border);
  border-radius: 4px;
  pointer-events: none;
  color: var(--primary-text-color);
}

#rotating-greeting {
    transition: opacity 1s ease-in-out;
}

details {
    margin-bottom: var(--margin-small);
    transition: max-height 1s ease; 
    min-height: fit-content;
}

details[open] {
    max-height: fit-content;
}

details summary {
    cursor: pointer;
    color: var(--color-midgrey);
}

details[open] summary {
    margin-bottom: var(--margin-small);
}

.full-width, .full-width main {
    width: var(--dimension-full) !important;
}

.deck {
    color: var(--highlight-color);
    font-weight: var(--font-weight-bold);
}

.cite-as {
    display: inline-block;
}

.leave-your-message {
    display: inline-block;
    margin-bottom: var(--margin-small);
}

strong {
    font-style: italic;
}

.doc-code {
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-midgrey);
    font-family: var(--font-family-mono);
    padding: 0.25em;
}

img.micro {
    height: 1em;
    vertical-align: text-bottom;
    display: inline-block;
    float: right;
}

.right {
    float: right;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: left;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.social-icons a:hover {
    border-bottom: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--max-width-body) - 2 * var(--padding-body));
    max-width: var(--dimension-full);
    padding-top: var(--padding-body-small);
    padding-bottom: var(--padding-body-small);
    background-color: var(--primary-bg-color-transparent);
    display: flex;
    justify-content: center;
    border-top: var(--border-strong);
}

footer .left {
    width: 50%;
}

footer .right {
    width: 50%;
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

footer .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--primary-text-color);
    text-shadow: 0 1px 1px var(--primary-bg-color);
    border-bottom: none;
}

footer a:hover {
    border-bottom: var(--border-default);
}

aside i {
    width: 1.25em;
    text-align: center;
}

.copy-button i {
    font-size: var(--font-size-small);
}

.breadcrumb {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small) !important;
    color: var(--color-midgrey);
}

.breadcrumb > ol > li > a, .breadcrumb > ol > li {
    font-size: var(--font-size-small) !important;
}
