            
            <!-- Add comment -->
            <a href="github.com/gv-sh/gaurav-singh.info/issues/new?assignees=&labels=comment&projects=&template=comment_template.md&title=Comment on {{ page.url }}" target="_blank">Add a comment</a> 