            
            <!-- Add comment -->
            <a href="https://github.com/gaurav-singh.info/issues/new?template=comment_template.md&title=Comment on {{ page.url }}" target="_blank">Add a comment</a>