<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>
        <!-- Header -->
        {% include "header.njk" %}

        <!-- Sidebar -->
        {% include "sidebar.njk" %}

        <!-- Main content -->
        <main>
            {% if showTitle %}
                <h3>{{ title }}</h3>
                <em>{{ meta }}</em>
            {% endif %}

            {% if cover %}
            <img src="{{ cover }}" alt="{{ title }}">
            {% endif %}
            
            {{ content | safe }}
        </main>

        <!-- Footer -->
        {% include "footer.njk" %}
        {% include "pre-body-close.njk" %}
    </body>
</html>