            
            <!-- Cite as -->
            <div class="cite-as">
                <a id="copyLink" onclick="copyToClipboard(event)" href="#">Cite this page</a>
                <script>
                function copyToClipboard(event) {
                    event.preventDefault();
                    const citationText = `{{ metadata.author }}. "{{ title }}." The Personal Website of Gaurav Singh. Last modified {{ page.date | postDate }}. {{ metadata.url }}{{ page.url }}`;
                    const copyLink = document.getElementById('copyLink');
                    const originalScrollPosition = window.pageYOffset;
                    navigator.clipboard.writeText(citationText).then(() => {
                        copyLink.textContent = 'Citation copied';
                        setTimeout(() => {
                            copyLink.textContent = 'Cite this page';
                            window.scrollTo(0, originalScrollPosition);
                        }, 3000);
                    }).catch(err => {
                        console.error('Failed to copy: ', err);
                        window.scrollTo(0, originalScrollPosition);
                    });
                } 
                </script>
            </div>