<footer>
    <div class="left social-icons">
        <a target="_blank" href="mailto:hi@gvsh.cc"><i class="fa-solid fa-envelope"></i></a> &nbsp;
        <a target="_blank" href="https://linkedin.com/in/gv-sh"><i class="fa-brands fa-linkedin"></i></a> &nbsp;
        <a target="_blank" href="https://instagram.com/themakingofnow"><i class="fa-brands fa-instagram"></i></a> &nbsp;
        <a target="_blank" href="https://scholar.google.com/citations?user=VZ5g3-YAAAAJ&hl=en"><i class="fa-solid fa-graduation-cap"></i></a> &nbsp;
        <a target="_blank" href="https://github.com/gvsh"><i class="fa-brands fa-github"></i></a> &nbsp;
        <a target="_blank" href="https://x.com/gvsh_maths"><i class="fa-brands fa-x-twitter"></i></a> &nbsp;
        <a target="_blank" href="https://orcid.org/0000-0003-1651-6602"><i class="fa-brands fa-orcid"></i></a>
    </div>
    <div class="right">
        {% include "cite.njk" %}
    </div>
</footer> 