<footer class="desktop">
    <div class="left social-icons">
        <a target="_blank" href="https://linkedin.com/in/gv-sh"><i class="fa-brands fa-linkedin"></i></a> &nbsp;
        <a target="_blank" href="https://instagram.com/themakingofnow"><i class="fa-brands fa-instagram"></i></a> &nbsp;
        <a target="_blank" href="https://github.com/gv-sh"><i class="fa-brands fa-github"></i></a> &nbsp;
        <a href="/socials/"><i class="fa-solid fa-ellipsis"></i></a> &nbsp;
    </div>
    <div class="right">
        {% include "cite.njk" %}
    </div>
</footer> 