<footer>
    <p>Hosted on <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a>. Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a>. Typography set in <a href="https://typekit.com/fonts/futura-pt" target="_blank" rel="noopener noreferrer">Futura PT</a>.</p>
</footer>