<header>
    <h1><a href="/" class="title" id="dynamic-title">Gaurav Singh</a></h1>
    <script>
        const titles = ['Gaurav Singh', 'gaurav-singh.info', 'gvsh.cc'];
        let index = 0;
        setInterval(() => {
            const titleElement = document.getElementById('dynamic-title');
            index = (index + 1) % titles.length;
            titleElement.textContent = titles[index];
        }, 10000);
    </script>
    {% include "breadcrumb.njk" %}
</header> 