<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>

        <!-- Header -->
        {% include "header.njk" %}


        <div class="parent">

            <!-- Sidebar -->
            {% include "sidebar.njk" %}

            <!-- Main content -->
            <main>
                <div class="item">
                    <h3>{{ title }}</h3>
                    <h6>{{ attribution }}</h6>
                </div>
                
                {{ content | safe }}
            </main>

        </div>

        <!-- Footer -->
        {% include "footer.njk" %}
        {% include "pre-body-close.njk" %}
    </body>

</html>