<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>

        <!-- Header -->
        {% include "header.njk" %}

        <!-- Sidebar -->
        {% include "sidebar.njk" %}

        <!-- Main content -->
        <main>
            <div class="item">
                <h6 class="deck">{{ deck }}</h6>
                <h3>{{ title }}</h3>
                <p class="meta">
                {% if date %}
                    {{ date | postDate }}{% if attribution %} / {{ attribution }}{% endif %}
                {% endif %}
                </p>
            </div>
            
            {{ content | safe }}

            {% include "add-comment.njk" %}
        </main>

        <!-- Footer -->
        {% include "footer.njk" %}

    </body>

</html>