<aside>
    <ul>
        <li class="sidebar-section">Front matter</li>
        <li><a href="/">Introduction</a></li>
        <li><a href="/foreword/">Foreword</a></li>
        <li><a href="/prologue/">Prologue</a></li>
        
        <li class="sidebar-section">About me</li>
        <li><a href="/cv/">CV</a></li>
        <li><a href="/journal/">Journal</a></li>

        <li class="sidebar-section">Experience</li>
        <li><a href="/education/">Education</a></li>
        <li><a href="/work/">Work</a></li>

        <li class="sidebar-section">Engagement</li>
        <li><a href="/teaching/">Teaching</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/research/">Research</a></li>

        <li class="sidebar-section">Community</li>
        <li><a href="/peers/">Peers</a></li>
        <li><a href="/students/">Students</a></li>
        <li><a href="/mentors/">Mentors</a></li>

        <li class="sidebar-section">Special</li>
        <li><a class="external" href="https://mathscapes.xyz">Mathscapes</a></li>
        <li><a href="/years-in-review/">Yearly notes</a></li>
        <!--<li><a href="/store/">Store</a></li>-->

        <li class="sidebar-section">Miscellaneous</li>
        <li><a href="/graphic-shots/">Graphic work</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/tools/">Tools</a></li>

        <li class="sidebar-section">Back matter</li>
        <li><a href="/prologue/">Epilogue</a></li>
        <li><a href="/index/">Index</a></li>
    </ul>
</aside>
 