---
layout: base.njk
---

{% include "intro.njk" %}

{% include "cta.njk" %}

<div class="content-grid">
  <div class="main-col">
    <h2>Publications</h2>

    <div class="publication">
      <div class="pub-info">
        <a class="pub-title" href="https://doi.org/10.5281/zenodo.18610143">iterflow: Composable Streaming Statistics for JavaScript</a>
        <div class="pub-meta">G. Singh</div>
        <div class="pub-meta">Mathscapes</div>
      </div>
      <span class="pub-year">2026</span>
    </div>

    <div class="publication">
      <div class="pub-info">
        <a class="pub-title" href="https://doi.org/10.1177/20414196241281069">Automated detection of deformation mechanisms in re-entrant honeycomb auxetics using machine learning</a>
        <div class="pub-meta">G. Singh, R. S. Dhari, Z. Javanbakht</div>
        <div class="pub-meta">International Journal of Protective Structures</div>
      </div>
      <span class="pub-year">2024</span>
    </div>

    <div class="publication">
      <div class="pub-info">
        <a class="pub-title" href="https://doi.org/10.1145/3294109.3300986">ReRide: A Bike Area Network for Embodied Self-monitoring during Motorbike Commute</a>
        <div class="pub-meta">N. Bagalkot, G. Singh, V. Rath, T. Sokoler, A. Shukla</div>
        <div class="pub-meta">Proceedings of the Thirteenth International Conference on Tangible, Embedded, and Embodied Interaction (TEI '19), 443-450</div>
      </div>
      <span class="pub-year">2019</span>
    </div>

    <div class="publication">
      <div class="pub-info">
        <a class="pub-title" href="https://doi.org/10.1007/978-3-319-68059-0_43">ReRide</a>
        <div class="pub-meta">N. Bagalkot, T. Sokoler, R. Shaikh, G. Singh, A. E. Lillie, P. Dixit, A. Rai, V. Chakravarthy, A. Senthil</div>
        <div class="pub-meta">Human-Computer Interaction - INTERACT 2017. Lecture Notes in Computer Science, vol 10516. Springer, Cham</div>
      </div>
      <span class="pub-year">2017</span>
    </div>

    <div class="publication">
      <div class="pub-info">
        <a class="pub-title" href="https://doi.org/10.1145/2676702.2676719">SnapTag: Leveraging Situated Memory to enhance self-efficacy for well-being</a>
        <div class="pub-meta">S. Baadkar, G. Singh, A. Saraf, N. Bagalkot</div>
        <div class="pub-meta">Proceedings of the India HCI 2014 Conference on Human-Computer Interaction, 136-141</div>
      </div>
      <span class="pub-year">2014</span>
    </div>
  </div>

  <aside class="side-col">
<h2>Co-authors</h2>
    {% for author in site.coauthors %}
      <div class="coauthor-name">{{ author }}</div>
    {% endfor %}
  </aside>
</div>
