@font-face {
  font-family: 'Sentient';
  src: url('/assets/fonts/Sentient-Variable.woff2') format('woff2-variations'),
       url('/assets/fonts/Sentient-Variable.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentient';
  src: url('/assets/fonts/Sentient-VariableItalic.woff2') format('woff2-variations'),
       url('/assets/fonts/Sentient-VariableItalic.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
