:root, :root[data-theme="light"] {
  --font-size: 18px;
  --font-family: 'Inter Variable', 'Inter', sans-serif;
  --line-height: 1.45;
  --body-margin: 1em;
  --max-width: 600px;
  --bg-color: #ffffff;
  --text-color: #444444;
  --link-color: #0000ee;
}

:root[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #cccccc;
  --link-color: #66b3ff;
}
