---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{% if collections.posts.length %}{{ (collections.posts | first).date | rfc3339 }}{% else %}{{ "2026-01-01" | rfc3339 }}{% endif %}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  <subtitle>{{ site.description }}</subtitle>
  {%- for post in collections.posts %}
  {%- set absolutePostUrl = site.url + post.url %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent }}</content>
  </entry>
  {%- endfor %}
</feed>
